* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}
audio {
  display: none;
}
body {
  background: #c4d2f5;
  font-family: Inter;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.player {
  background: #ffffff;
  border-radius: 30px;
  display: flex;
  width: 440px;
  padding: 30px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.player-track-title {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.player-track-artist {
  color: #9a9a9a;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}
.player-progress {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
}
.fa-solid .fa-pause {
  color: #000000;
}
.fa-play {
  color: #ffffff;
}
.player-button.play {
  display: flex;
  width: 74px;
  height: 74px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 37px;
  background: var(--purple, #e783bc);
}
.player-progress-bar {
  background: #f6f6ef;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  height: 8px;
  flex: 1;
  border-radius: 4px;
}

.player-progress-inner {
  background: #e783bc;
  width: 40%;
  height: 100%;
  border-radius: 4px;
}
.player-button play {
  background: #e783bc;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  width: 74px;
  height: 74px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fa-solid.fa-play {
  display: flex;
  justify-content: center;
  align-items: center;
}
